# list and its default function

In [1]:
x=[12,3,65.2,"ABC"]   
print(type(x))

<class 'list'>

In [10]:
x.append(8)     #append method -> add at the end of the list
print(x)

[12, 3, 65.2, 'ABC', 8]

In [11]:
x.insert(2,70)  #insert method 
print(x)

[12, 3, 70, 65.2, 'ABC', 8]

In [12]:
x.pop()    #pop method -> remove at the last of the list
print(x)

[12, 3, 70, 65.2, 'ABC']

In [13]:
x.pop(x.index(70))  #pop(index) -> remove the element at the given index of the element 
print(x)

[12, 3, 65.2, 'ABC']

In [16]:
print(x[2])    #indexing

65.2

In [18]:
print(x[0::+2]) #slicing -> print whole list also and also skip data in the list

[12, 65.2]

# dictionary and its default functions

In [24]:
x={"raj": 340 ,"sumit":320,"teja":310 }
print(type(x))

<class 'dict'>

In [25]:
x.update({"aman":210 ,"seema":370 ,"raj":10})  #update method ->add multiple elements in the dictionary

In [26]:
print(x)

{'raj': 10, 'sumit': 320, 'teja': 310, 'aman': 210, 'seema': 370}

In [27]:
x.keys()  #key method -> give all the keys only

dict_keys(['raj', 'sumit', 'teja', 'aman', 'seema'])

In [28]:
x.values()    #values method -> give all the values only

dict_values([10, 320, 310, 210, 370])

In [31]:
x.pop("teja")    #pop method ->remove the key from the dictionary
print(x)

{'raj': 10, 'sumit': 320, 'aman': 210, 'seema': 370}

In [34]:
x.fromkeys(("sumit","seema"),4500)   #fromkeys method

{'sumit': 4500, 'seema': 4500}

In [35]:
x.clear() #clear method
print(x)

{}

# set and its default dunction

In [36]:
a={1,2,3,4,5,6,7}   
print(type(a))

<class 'set'>

In [38]:
a.add(8)  #add method
print(a)

{1, 2, 3, 4, 5, 6, 7, 8}

In [41]:
b={2,4,5,6,7,8,9}    #difference method
a.difference(b)

{1, 3}

In [48]:
a={1,2,3,4,5,6,7}   
b={2,4,5,6,7,8,9}   
a.intersection(b)   #intersection method

{2, 4, 5, 6, 7}

In [49]:
a.isdisjoint(b)  #isdisjoint method

False

In [50]:
a.union(b)  #union method

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [73]:
b.discard(6)
print(a)

(1, 2, 3, 4, 'x')

# tuple and its default methods

In [68]:
a=(1,2,3,4,'x')
type(a)

tuple

In [56]:
a=(1,2,3,43,4,56,3,2,45,4,5,56,4)  # count method -> count the same elements in the tuple
a.count(4)

3

In [58]:
a.index(56)  # index method

5

In [59]:
print(a[0::+2])  # slicing

(1, 3, 4, 3, 45, 5, 4)

In [60]:
print(a[5])  #indexing

56

# string and its default methods

In [61]:
a="jyoti"
print(type(a))

<class 'str'>

In [62]:
x="abc"  #upper method
x.upper()

'ABC'

In [63]:
x="ABC"   #lower method
x.lower()

'abc'

In [67]:
a="the rahul is idiot"   #capitalize method
a.capitalize()

'The rahul is idiot'

In [66]:
a.title()  #title method

'The Rahul Is Idiot'

In [77]:
a='The PM is rahul'    #replace method
a.replace('rahul','modi')

'The PM is modi'

In [79]:
a='abc123'  #isalnum method
a.isalnum()

True

In [84]:
x=" she is beautiful"  #find method
x.find("is")

5